.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px 96px;
}

.header__logo {
  display: block;
  width: 147px;
  height: 105px;
}

.menu__list {
  display: flex;
  gap: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  list-style: circle;
}

.menu__item a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.menu__item--active:first-of-type {
  list-style: none;
}

.menu__item:first-child a {
  text-decoration: none;
}

.menu__item:hover {
  color: rgba(31, 29, 29, 0.395);
  transition: color 0.6s, transform 0.5s;
}

.address {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
  margin-right: 35px;
}

.address--footer {
  justify-self: start;
  margin-left: 0;
  text-align: left;
}

.cover {
  position: relative;
  max-width: 1100px;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 207px;
}

.cover__text {
  inset: 0;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.9%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__text--left {
  display: block;
  padding-bottom: 20px;
  letter-spacing: 30px;
  text-align: left;
}

.cover__text--center {
  display: block;
  max-width: 339px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.cover__text--right {
  display: block;
  max-width: 387px;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.cover__description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 118px 50px 50px 50px;
}

.cover__description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.bet-button:hover {
  background-color: rgba(153, 152, 152, 0.435);
  transition: background-color 0.6s, transform 0.5s;
}

.lots {
  margin: 190px 24px 173px;
}

.lots__title {
  margin: 0 173px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__item {
  list-style: none;
}

.card {
  position: relative;
  min-width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card__content {
  position: relative;
  z-index: 2;
  display: inline-block;
  box-sizing: border-box;
  width: 295px;
  height: 596px;
  padding-left: 40px;
}

.card--film {
  background-image: url("../images/card-lot-01.jpg");
}

.card--book {
  background-image: url("../images/card-lot-02.jpg");
}

.card--art {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding-top: 48px;

  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__more {
  position: absolute;
  margin-top: 33px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.lots__more:hover {
  color: rgba(31, 29, 29, 0.395);
  transition: color 0.6s, transform 0.5s;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  margin: 0 24px 180px 24px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo img {
  display: block;
  width: 148px;
  height: 114px;
  margin: 64px 45.52px 62px 46.48px;
}

.about__description {
  margin-top: 142px;
  margin-left: 25px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
}

.about__description-text {
  width: 100%;
  max-width: 688px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__description-text p:first-of-type {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  height: 100%;
  max-height: 180px;
  margin-right: 50px;
  margin-bottom: 82px;
  margin-left: 50px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__social-list {
  justify-items: end;
  align-items: start;
}
.footer__social-list-item {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
